<hello></hello>

<!-- <div class="row container-fluid h-100">
  <div class="col-4 bg-secondary">
    <h2>Users</h2>
    <div class="row">
      <div class="col-12 bg-primary p-2 my-1" *ngFor="let user of users">
        <span (click)="loadMessage(user)">
          {{user}}
        </span>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-danger" (click)="addUser()">Add User</button>
      </div>
    </div>
  </div>
  <div class="col-8 bg-success h-100">
    <h2>Messages</h2>
    <div class="row">
      <div class="col-12">
        <pre>
          {{messages | json}}
        </pre>
      </div>
      <div class="row" style="position: absolute;bottom: 0;left: 0;">
        <button (click)="addMessage()">Add Message</button>
      </div>
    </div>
  </div>
</div> -->
